@charset "UTF-8";
@font-face { font-family: upheavtt; src: url('upheavtt.ttf'); } 

.menuButton {
  color:black;
  background: transparent;
  border: none !important;
  position:relative;
  text-align:middle;
  padding-bottom: 10px;
}
#canvasDiv {
  width: 512px;
  height: 512px;
  display: block;
  margin: 0 auto;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;

}

.inputBox{
 
  text-align: center;
}

#sticky {
  width:100%;
  height:44px;
  padding-top:10px;
  background:black;
  color:white;
  font-weight:bold;
  font-size:12px;
  text-align:center;
  position:sticky;    
  bottom:0;          
  left:0;           